.HeaderContainer {
  width: 87em;
  margin: 10px auto;
  display: table;
}
/*---------- Header Css ----------*/
.title {
    display: block;
    float: left;
    margin-top: 10px;
}
.title img{
  width: 108px;
  height: 20px;
}
.number {
  display: block;
  float: left;
  margin-left: 66%;
  margin-top: 10px;
}
.number a {
  color: #000028;
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}
/*---------- Burger Menu Css ----------*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.topnav {
  background: #ac3737;
  float: left;
  margin-left: 67px;
}
.IconMenu {
  cursor:pointer;
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 21px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*---------- Body CSS ----------*/
.BodyContainer {
  width: 1600px;
  margin: 0px auto;
}
.Aside-List {
  float: left;
  width: 475px;
  margin-top: 60px;
}
.Aside-List ul {
  list-style-type: none;
  line-height: 30px;
  width: 25%;
}
.Aside-List ul li a {
  text-decoration: none;
  color: #9B9B9B;
  font-size: 18px;
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  background: #7e0e0e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
.FirstHeader {
  margin-top: 60px;
  width: 38vw;
  float: left;
}
/* SemiBold */
.FirstHeader h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 55px;
  margin: 0;|
}
.SecondHeader {
  color: #000000;
  opacity: 0.3;
}
/*---------- Responsive CSS ----------*/
.ResponsiveImg { display: none;}
@media screen and (max-width: 1300px) {
  .HeaderContainer{
    width: 75%;
    margin: 10px 0 0 29VW;
    display: table;
  }
  .BodyContainer {
    width: 100vw;
  }
  .number {
    display: none;
  }
  .topnav.responsive {
    width: 100%;
  }
.MainImg {
    display: none;
  }
.ResponsiveImg{
  display: inline-block;
}
.Aside-List {
  display: none;
}
.FirstHeader {
    margin-top: 60px;
    width: 375px;
    margin: 10px auto;
    display: table;
    float: none;
}
.FirstHeader h1 {
  font-size: 22px;
  line-height: 30px;
}
.Img-Header {
  width: 50%;
  margin: 10px auto;
  display: table;
}
}
@media screen and (max-width: 500px){
.HeaderContainer {
    width: 75%;
    margin: 10px auto;
    display: table;
}
}
